.div {
  color: black;
  background-color: black;
}

.inputContainer {
  height: 300px;
  width: clamp(250px, 30%, 60%);
  margin-top: 60px;
  display: flex;
  margin-inline: auto;
  flex-direction: column;
  justify-content: center;
}

.delete {
  position: relative;
  margin-left: 20px;
  z-index: 5;
}

.x {
  background-color: white;
  color: black;
  font-weight: bolder;
  font-size: 2rem;
}

.btn {
  align-self: center;
}

.shortPost {
  font-size: 22px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post {
  background: rgba(242, 242, 242, 0.45);
  box-shadow: 2px 7px 20px 0 rgba(246, 246, 255, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 15px;
  padding: 5px 10px;
  margin: 20px 10px;
  width: clamp(325px, 50%, 60%) !important;
}

@media screen and (min-width: 322px) {
  .post {
    margin: 20px auto;
    width: 80%;
  }
}

@media screen and (min-width: 732px) {
  .post {
    margin: 40px auto;
    width: 80%;
  }

  .shortPost {
    font-size: 1.5rem;
    max-height: 250px;
    text-overflow: wrap;
    overflow: scroll;
  }
}

@media screen and (min-width: 995px) {
  .post {
    margin: 40px auto;
    width: 80%;
  }

  .shortPost {
    font-size: 1.8rem;
    max-height: 250px;
    white-space: unset;
    text-overflow: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
