.backgroundImage {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.bottomBackgroundImage {
  position: absolute;
  bottom: 0;
  z-index: -2;
}

.weather {
  color: black;
  display: flex;
  flex-direction: column;
  place-content: center;
  margin-top: 5px;
  margin-inline: auto;
  height: fit-content;
  width: fit-content;
  padding: 0px 50px;
  border-radius: 10px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 120%);
  opacity: 80%;
}

.notesContainer {
  grid-area: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nasa {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  z-index: 0;
}

.quote {
  height: min-content;
  width: 90%;
  padding: 10px;
  color: black;
  border-radius: 10px;
  opacity: 70%;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 120%);
  grid-area: 3;
}

.grid {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 0.9fr 1fr 0.9fr;
  grid-column-gap: 1px;
  grid-row-gap: 0px;
}

.tempNumber {
  font-size: 3rem;
}

.nasaContainer {
  grid-area: 2;
}

.currently {
  padding-bottom: 5px;
}

@media screen and (max-width: 376px) {
  .grid {
    grid-template-rows: 1fr 1.7fr 2fr;
  }

  .weather {
    height: 125px;
    max-height: 250px;
    width: fit-content;
    padding: 0px 25px;
    margin: 10px;
  }

  .tempNumber {
    font-size: 1.8rem;
  }

  .nasa {
    height: 150px;
    width: 150px;
  }
}
