.container {
  width: clamp(400px, 50%, 800px);
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.backgroundImage {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.canvas {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.bottomBackgroundImage {
  position: absolute;
  bottom: 0;
  z-index: -2;
}

.weather {
  color: black;
  display: flex;
  flex-direction: column;
  place-content: center;
  margin-top: 5px;
  margin-inline: auto;
  height: fit-content;
  width: fit-content;
  padding: 0px 50px;
  border-radius: 10px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 120%);
  opacity: 80%;
}

.nasa {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  z-index: 0;
}

.quote {
  height: min-content;
  width: clamp(300px, 50%, 70%);
  padding: 10px;
  color: black;
  border-radius: 10px;
  opacity: 70%;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 120%);
  grid-area: 3;
}

.grid {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 0.9fr 1fr 0.9fr;
  grid-row-gap: 100px;
  margin-top: 50px;
}

.tempNumber {
  font-size: 3rem;
}

.nasaContainer {
  grid-area: 2;
}

.currently {
  padding-bottom: 5px;
}

.homeBtn {
  position: absolute;

  top: 5px;
  left: 5px;
}

.noteTitleContainer {
  background-color: rgb(0, 0, 0);
  border-radius: 10px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.notePostContainer {
  border-radius: 10px;
  margin: 25px 0 0 10px;
  display: flex;
  flex-direction: column;
}

.noteWrapper {
  height: fit-content;
  width: clamp(200px, 80%, 800px);
  background: rgba(242, 242, 242, 0.45);
  box-shadow: 2px 7px 20px 0 rgba(246, 246, 255, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 15px;
  padding: 5px 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@media screen and (max-width: 376px) {
  .grid {
    margin-top: 10px;
    grid-template-rows: 1fr 1.7fr 2fr;
    grid-row-gap: 10px;
  }

  .weather {
    height: 125px;
    max-height: 250px;
    width: fit-content;
    padding: 0px 25px;
    margin: 10px;
  }

  .tempNumber {
    font-size: 1.8rem;
  }

  .nasa {
    height: 150px;
    width: 150px;
  }
}

@media screen and (min-width: 1000px) {
  .grid {
    align-items: end;
  }

  .quoteSz {
    font-size: 3rem !important;
  }

  .notesContainer {
    position: relative;
    top: 10%;
  }
}
